@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&family=Rubik:wght@400;500;600;700&display=swap");

/* **********************USER-CARD**************************************** */
/* ************************************************************************** */

/* * {
  border: 1px dotted red;
} */

.container {
  margin-top: 80px;
}

.heading {
  margin-left: 20px;
  height: 100px;
  width: 680px;
  background-color: #17a2b8;
}

.info {
  border: 2px solid #cccccc;
  font-family: "balsamiq sans", sans-serif;
  margin-left: 20px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 676px;
}

.small-2 {
  width: 20px;
  height: 20px;
}

.small-1 {
  width: 10px;
  height: 18px;
}

.big {
  position: absolute;
  top: 205px;
  left: 350px;
  width: 70px;
  height: 70px;
}

.flex-1 {
  margin-left: 30px;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.flex-2 {
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
}

a {
  margin-left: 10px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #085394;
}

.desc {
  margin-left: 30px;
  margin-top: 10px;
}

.name {
  margin-bottom: 0;
  margin-left: 30px;
  font-family: "balsamiq sans", sans-serif;
}

.seattle {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
}

/* ********************************NAV-BAR********************************** */
/* **************************************************************************** */

.nav {
  align-items: center;
  color: white;
  background-color: #333333;
  width: 1600;
  height: 80px;

  display: flex;
}
.nav-links {
  align-items: center;
  text-decoration: none;
  display: flex;
}

li {
  width: 160px;
  margin-right: 20px;
  text-decoration: none !important;
  font-family: "roboto";
  list-style-type: none;
}

h1 {
  margin-left: 300px;
  font-family: "roboto";
}

.btn {
  margin-left: 367px;
  margin-right: 200px;
  height: 30px;
  width: 80px;
  font-family: "roboto", sans-serif;
  background-color: #17a2b8;
  color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}

a {
  text-decoration: none;
}

.active {
  margin-left: 30px;
  width: 60px;
  color: white;
}

body {
  align-items: center;
}

.notactive {
  margin-left: 30px;
  width: 60px;
  color: #c6c6c6;
}

/* **************************THE REST OF THE DIVS**********************
*************************************************************************** */
.container-everything {
  width: auto;
}

.container-usercard {
  height: 400px;
  margin-top: 46px;
  margin-left: 280px;
}

.right-contain {
  width: 400px;
  margin-top: 46px;
  margin-left: 40px;
}

.container-big {
  display: flex;
}

/* ********************************EDUCATION************************************************ */

.Education {
  height: 230px;
  margin-left: 300px;
  width: 680px;
}

.header {
  padding-top: 10px;
  align-items: center;
  height: 50px;
  background-color: black;
}

.header p {
  margin-top: 10px;
  padding-bottom: 5px;
  margin-left: 20px;
  font-family: "balsamiq sans", sans-serif;
  font-size: 25px;
  color: white;
}

.info1 p {
  font-size: 25px;
  font-family: "balsamiq sans", sans-serif;
  margin-left: 20px;
  color: black;
}

.info1 .special2 {
  font-family: "balsamiq sans", sans-serif;
  margin-left: 20px;
  color: silver;
}

.info1 {
  padding-top: 23px;
  height: 244px;
  border: 2px solid silver;
}

.info1 h1 {
  margin-left: 20px;
  width: 400px;
  margin-right: 40px;
  font-size: 24px;
  font-family: "balsamiq sans", sans-serif;
}

/* ***************************************CONNECTION REQUESTS******************** */
/* *********************************************************************/

.header2 {
  padding-top: 10px;
  text-align: center;
  background-color: black;
  width: 400px;
  height: 70px;
}

.header2 p {
  position: relative;
  top: -82px;
  right: -29px;
  margin-top: 14px;
  font-size: 30px;
  color: white;
  font-family: "balsamiq sans", sans-serif;
}

.connection-requests-body {
  border: 2px solid silver;
}

.person {
  width: 60px;
}

#special-num1 {
  padding: 0 10px 0 10px;
  border-radius: 50%;
  background-color: #cccccc;
  color: black;
  border: 1px solid #cccccc;
  position: relative;
  top: -2px;
  right: 157px;
  display: inline-block;
}

#special-num2 {
  padding: 3px 6px 3px 6px;
  border-radius: 50%;
  background-color: #cccccc;
  color: black;
  border: 1px solid #cccccc;
  top: 0px;
  right: 133px;
  display: inline-block;
}

/********************************Your connections*********************************
**********************************************************************************/

.header3 {
  padding-top: 10px;
  text-align: center;
  margin-top: 40px;
  background-color: black;
  width: 400px;
  height: 70px;
}

.header3 p {
  position: relative;
  top: -85px;
  right: -57px;
  margin-top: 14px;
  font-size: 30px;
  color: white;
  font-family: "balsamiq sans", sans-serif;
}

.connect {
  position: relative;
  bottom: 10px;
  right: 80px;
  margin-bottom: 7px;
  display: inline;
  text-align: center;
  font-size: 30px;
  color: black;
  font-family: "balsamiq sans", sans-serif;
}

.your-connections-body {
  border: 2px solid silver;
}

.your-connections a {
  margin-left: 130px;
  text-decoration: underline;
  font-family: "balsamiq sans", sans-serif;
  font-size: 30px;
}

.free {
  text-align: center;
}

.free .person {
  position: relative;
  right: 30px;
  margin-right: 100px;
  margin-top: 5px;
}

#todd {
  position: relative;
  left: 0px;
  top: 10px;
}

#phil {
  margin-right: 120px;
  position: relative;
  right: -1px;
  top: 5px;
}

#adrien {
  position: relative;
  left: -41px;
  top: 10px;
}
#anne {
  position: relative;
  left: -53px;
  top: 10px;
}
#alayne {
  position: relative;
  left: -42px;
  top: 10px;
}
#arry {
  position: relative;
  left: -62px;
  top: 10px;
}

#arry1 {
  padding-bottom: 20px;
  border-bottom: 2px solid silver;
}

#anchor {
  position: relative;
  top: 0px;
  right: 105px;
  margin: 10px 0 10px 0;
}

.mark {
  display: inline;
  width: 50px;
}

/* ********************************************************* */

.input {
  display: none;
}
